{% extends 'base.html.twig' %}

{% block title %}Freight{% endblock %}

{% block body %}
    <h1>Freight</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ freight.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ freight.startDate ? freight.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DestinationDate</th>
                <td>{{ freight.destinationDate ? freight.destinationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ freight.status }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user.driver is defined and app.user.driver == freight.driver %}
        <button type="button" onclick="freightManage('{{ path('api_freight_start', {'id': freight.id}) }}')" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Start</button>
        <button type="button" onclick="freightManage('{{ path('api_freight_end', {'id': freight.id}) }}')">End</button>
    {% endif %}

    <a href="{{ path('app_freight_index') }}">back to list</a>

    <a href="{{ path('app_freight_edit', {'id': freight.id}) }}">edit</a>

    {{ include('freight/freight/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        function freightManage(url) {
            var xhr = new XMLHttpRequest();
            console.log(url);

            xhr.open("POST", url);

            xhr.onload = function() {
                var response = xhr.response;
                console.log(response);
            }

            xhr.send();
        }
    </script>
{% endblock %}
