{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <a href="{{ path('app_index') }}">back</a>
    <h1>Car index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>HorsePower</th>
            <th>LicensePlate</th>
            <th>Year</th>
            <th>Km</th>
            <th>Image</th>
            <th>Fuel</th>
            <th>AverageConsumption</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.horsePower }}</td>
                <td>{{ car.licensePlate }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.km }}</td>
                <td>
                    <img src="public/uploads/cars/{{ car.image }}" alt="">
                </td>
                <td>
                    {% for fuel in car.fuelType %}
                        {{ fuel.name }}<br/>
                    {% endfor %}
                </td>
                <td>{{ car.averageConsumption }}</td>
                <td>
                    <a href="{{ path('app_car_tire_add_to_car', {'id': tire.id, 'carId': car.id}) }}">select</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
