{% extends 'base.html.twig' %}

{% block title %}Tire{% endblock %}

{% block body %}
    <h1>Tire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Type</th>
                <th>Width</th>
                <th>AspectRatio</th>
                <th>Rim</th>
                <th>LoadIndex</th>
                <th>SpeedRating</th>
                <th>DOT</th>
                <th>Distance</th>
                <th>Car</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tire in tires %}
            <tr>
                <td>{{ tire.brand }}</td>
                <td>{{ tire.type }}</td>
                <td>{{ tire.width }}</td>
                <td>{{ tire.aspectRatio }}</td>
                <td>{{ tire.rim }}</td>
                <td>{{ tire.loadIndex }}</td>
                <td>{{ tire.speedRating }}</td>
                <td>{{ tire.dot }}</td>
                <td>{{ tire.distance }}</td>
                <td>
                    {% if tire.car is not null %}
                        {{ tire.car.licensePlate }}
                    {% else %}
                        out of use
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_car_tire_edit', {'id': tire.id}) }}">edit</a>
                    {% if tire.car is not null %}
                        <a href="{{ path('app_car_tire_remove_car', {'id': tire.id}) }}">remove</a>
                    {% else %}
                        <a href="{{ path('app_car_tire_add_to_car', {'id': tire.id}) }}">add to car</a>
                    {% endif %}
                    {{ include('car/tire/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_tire_index') }}">back to list</a>
{% endblock %}
