{% extends 'application/components/app_layout.html.twig' %}

{% block title %}Car index{% endblock %}

{% block content %}
    <h2 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl dark:text-white">Cars</h2>
    <a href="{{ path('app_index') }}">
        <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
            <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            back
        </button>
    </a>

    <a href="{{ path('app_car_fuel_index') }}">
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              fuels
          </span>
        </button>
    </a>

    <a href="{{ path('app_car_new') }}">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Add new
        </button>
    </a>

    <div class="p-4 flex flex-wrap space-x-4">
        {% for car in cars %}
{#     border-teal-500 text-green-800       border-amber-600 text-red-800 #}
            <div class="max-w-sm bg-white border-4 border-teal-500/50 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                {% if car.currentDriver is not null %}
                    <span class="bg-teal-500/50 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">in use</span>
                {% else %}
                    <span class="bg-teal-500/50 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">parking</span>
                {% endif %}

                <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="mt-2">
                    <img class="rounded-t-lg" src="{% if car.image is not null %} public/uploads/cars/{{ car.image }} {% else %} {% endif %}" alt="" />
                </a>
                <div class="p-5">
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ car.licensePlate }} {{ car.brand }} {{ car.model }}</h5>
                    </a>

                    <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ car.year }}</span>
                    <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ car.km }} km</span>
                    <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
                        {% for fuel in car.fuelType %}
                            {{ fuel.name }}
                        {% endfor %}
                    </span>
                </div>
                {% if app.user.driver is defined %}
                    <div class="p-5">
                        <button type="button" onclick="carManage('{{ path('app_car_manage', {'car': car.id, 'driver': app.user.driver.id, 'action': 'use'}) }}')" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 {% if app.user.driver.currentCar is null and car.currentDriver is null %} bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 {% else %} bg-blue-400 cursor-not-allowed {% endif %}" {% if app.user.driver.currentCar is not null %} disabled {% endif %}>
                            use
                        </button>
                        {% if app.user.driver.currentCar == car %}
                            <button type="button" onclick="carManage('{{ path('app_car_manage', {'car': car.id, 'driver': app.user.driver.id, 'action': 'stop_use'}) }}')" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                stop using
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="p-5">
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</button>
                    </a>
                    <a href="{{ path('app_car_edit_tires', {'id': car.id}) }}">
                        <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Tires</button>
                    </a>
                </div>
            </div>
        {% else %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function carManage(url) {
            var xhr = new XMLHttpRequest();
            console.log(url);

            xhr.open("POST", url);

            xhr.onload = function() {
                var response = xhr.response;
                console.log(response);
                location.reload();
            }

            xhr.send();
        }
    </script>
{% endblock %}

